.navbar {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 999; 
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: transparent;
  justify-content: space-between;
  margin-right: 10px;
  border:none;
  position: relative; 
  transition: 0.3s ease; 
}

.button:hover{
  color: black;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px; 
  background-color: #ff002b; 
  transform: scaleX(0); 
  transform-origin: bottom;
  transition: transform 0.3s ease; 
}

.button:hover::after {
  transform: scaleX(0.8); 
}

.brand{
  margin-right:14rem;
  text-decoration: solid;
  color:white;
}


.like{
display: inline-block;
padding: 10px 20px;
color: #ffffff;
margin-right: 5rem;
text-decoration: none;
position: relative; 
transition: 0.3s ease; 

}

.logo {
margin-left: 5rem;
justify-content: center;
align-items: center;
margin-top: 15px ;
}
.logo button{
border-radius: 1rem;
justify-content: space-between;
margin-right: 3px;
}


